<div class="columns is-centered">
  <div class="column is-4">
    <div class="content">
      <hr >
      
      <form [formGroup]="form" novalidate> 
        <label class="label">Name</label>
        <p class="control has-icon has-icon-right">
          <input 
            class="input"
            [ngClass]="{
              'is-danger': !form.controls['name'].valid && form.controls['name'].touched,
              'is-success': form.controls['name'].valid
            }"
            type="text"
            formControlName="name"
          />
          <span *ngIf="form.controls['name'].valid" class="icon is-small">
            <i class="fa fa-check"></i>
          </span>
        </p>
        <label class="label">Age</label>
        <p class="control has-icon has-icon-right">
          <input 
            class="input"
            [ngClass]="{
              'is-danger': !form.controls['age'].valid && form.controls['age'].touched,
              'is-success': form.controls['age'].valid
            }"
            type="text"
            type="number"
            formControlName="age"
          />
          <span *ngIf="form.controls['age'].valid" class="icon is-small">
            <i class="fa fa-check"></i>
          </span>

        </p>
        <button
          type="submit"
          [disabled]="!form.valid"
          class="button is-primary" 
          [class.is-disabled]="!form.valid" 
          (click)="addHuman()">
          Add a human
        </button>
      </form>
      <pre>
       Form: {{ form.value | json}}
       Valid: {{form.valid }}
      </pre>
      
    </div>
  </div>
</div>
<hr>
<div class="columns content is-centered">
  <ul>
    <li *ngFor="let human of humans" class="block">
      <a [class.is-disabled]="human === selectedHuman" (click)="onSelect(human)">{{ human.name }}, age: {{ human.age }}</a> 
      <a style="margin-left: 30px" class="button is-danger is-pulled-right" (click)="removeHuman(human._id, human)">Remove human</a>
    </li>
  </ul>
</div>
<hr>
<div class="columns content is-centered">
  <human-detail [human]="selectedHuman"></human-detail>
</div>